html{
    height: 100%;
}
body{
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
/*Dark backgounds*/
.header, .front, .footer{
    background-color: #1F2937;
}
/*Reference container borders*/
div, nav{
    border: 1.5px solid red;
}

.button{
    background-color: #3882F6;

}

/*Header*/
.header{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    height: 64px;
    align-items: center;
}
.headercont{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.logo{
    font-size: 32px;
    color: #F9FaF8;
    font-weight: bolder;

}

.headerlinks{
    display: flex;
    gap: 24px;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 24px;
}


/*Section 1*/
.front{
    display: flex;
    /*justify-content: center;*/
    border: 1.5px solid red;
}

.left{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.right {
    border: 2px solid green;
    display: flex;
    width: 600px;
    padding: 50px;
}

.heromain{
    display: flex;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

.herosecond, .headerlinks{
    font-size: 18px;
    color: #E5E7EB;
}


/*Section 2*/

.productheader{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.products{
    border: 1.5px solid red;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.product{
    border: 1.5px solid red;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.product img{
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 150px;
}

/*Section 3*/
.phrase {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

#phrase{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}


/*Section 4*/
.action{
    display: flex;
}


/*Footer*/
.footer {
    display: flex;
}