
.header, .front, .footer{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #F9FaF8
}

.heromain{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

.herosecond, .headerlinks{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color:#E5E7EB
}


.productheader{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}
.phrase {
    background-color: #E5E7EB;
}

#phrase{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}