/*Dark backgounds*/
.header, .front, .footer{
    background-color: #1F2937;
}
/*Reference container borders*/
div{
    border: 1.5px solid red;
}


/*Header*/
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #F9FaF8
}

a{
    text-decoration: none;
    color:#E5E7EB;
}


/*Section 1*/
.front{
    display: flex;  
}

.left{
    display: flex;
    flex-direction: column;
}

.heromain{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

.herosecond, .headerlinks{
    font-size: 18px;
    color: #E5E7EB;
}


/*Section 2*/

.productheader{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}

.information{
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
}


/*Section 3*/
.phrase {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

#phrase{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}


/*Section 4*/
.action{
    display: flex;
}


/*Footer*/
.footer {
    display: flex;
}